smallhetzi.fading-flame.com {
	header Server "Dot HQ"
	header X-DNS-Prefetch-Control "on"
	header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	header X-XSS-Protection "1; mode=block"
	header X-Frame-Options "SAMEORIGIN"
	header Permissions-Policy "interest-cohort=()"
	header X-Content-Type-Options "nosniff"
	header Referrer-Policy "same-origin"
	header Content-Security-Policy "default-src https://*.dothq.co; script-src 'unsafe-eval' https://*.dothq.co; style-src 'self' 'unsafe-inline' https://*.dothq.co; img-src data: 'self' https://*.dothq.co https://dotusercontent.com; font-src https://*.dothq.co; connect-src 'self' https://*.dothq.co; media-src https://*.dothq.co; frame-src 'self' https://dothq.co; frame-ancestors 'none'; form-action 'self' dothq.co; block-all-mixed-content; base-uri 'self'; manifest-src * 'self' https://*.dothq.co"
	header X-Powered-By "Bingus"

	log {
		output discard
	}

	# Frontend
	reverse_proxy http://web:3000

	handle_path /api* {
		reverse_proxy http://wp:3001
	}
}